<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="{{ site.baseurl }}/about"> About </a></p>
        <p><a href="{{ site.baseurl }}/contact"> Contact </a></p>
        <p><a href="{{ site.baseurl }}/blog"> Winery Updates </a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          {% if site.instagram_link %}
            <a href="{{ site.instagram_link }}" class="btn-group instagram" aria-label="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin" aria-label="LinkedIn">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter" aria-label="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook" aria-label="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text-center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://www.chaos-cellars.com"> Chaos Cellars, LLC </a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank" rel="noopener noreferrer">Melvin Ch'ng</a></p>
  </div>
</footer>


