<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="index.html">
      <img class="office-logo" src="/assets/ico/CCLogo1.png" alt="Chaos Cellars Logo">
    </a>      
  </div>

  <div class="collapse navbar-collapse navbar-responsive-collapse" id="navbar-spy">
    <ul class="nav navbar-nav pull-right">
      <li class="{% if page.url == '/' %}active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="{% if page.url == '/about.html' %}active{% endif %}">
        <a href="/about.html">About</a>
      </li>
      <li class="{% if page.url == '/blog.html' %}active{% endif %}">
        <a href="/blog.html">Blog</a>
      </li>
      <li class="{% if page.url == '/team.html' %}active{% endif %}">
        <a href="/team.html">Team</a>
      </li>
      <li class="{% if page.url == '/contact.html' %}active{% endif %}">
        <a href="/contact.html"><span>Contact</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>
<!-- End Header -->
