<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5+D5wAozu2VbS7eXgsw=" crossorigin="anonymous" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-a5At2LJ+plUUvbSIO+r6vP5GObH5L3ImB1x8G8t/Z7YcIIKdF5XU6Vp5hJkcVygx" crossorigin="anonymous" defer></script>
<script src="../js/wow.min.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    new WOW().init();
  });
</script>